@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Playfair+Display:wght@400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Yantramanav:wght@100;300;400;500;700;900&display=swap');

*{
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
body {
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#page{
    visibility: hidden;
    display: none;
}
#header{
    padding-top: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
}

a{
    text-decoration: none;
    color: rgb(255, 230, 230);
    font-weight: 600;
}
a:hover{
    text-decoration-line: underline;
}

#title{
    color: rgb(255, 230, 230);
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 20px;
}

#form {
    background-color: rgba(255, 241, 241, 0.336);
    -webkit-box-shadow: 3px 0px 23px 5px rgba(0, 0, 0, 0.822);
    -moz-box-shadow: 3px 0px 23px 5px rgba(0,0,0,0.21);
    box-shadow: 3px 0px 23px 5px rgba(0,0,0,0.21);
    border-radius: 15px;
    width: 350px;
    height: 720px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#boxlocation{
    display: flex;
    align-items: center;
}

#divcity {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    right: 13px;
}

#ufinput{
      width: 55px;
      height: 40px;
}

#divuf {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 10px;
    
}

#cityinput{
    width: 200px;
    height: 40px;
}

#divboxhr {
    display: flex;
    align-items: center;
}

#divboxhr p {
    text-align: center;
    line-height: 1;
}

#diventradainput{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    right:20px;
}

#enterinput {
    width: 80px;
    height: 35px;
}

#saidainput {
    width: 80px;
    height: 35px;
}

#divsaidainput{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 20px;
}

p{
    font-size: 16px;
    padding-top: 8px;
    padding-bottom: 2px;
    text-align: left;
    font-weight: 600;
}

input{
    border-radius: 5px;
    border: transparent;
    font-size: 15px;
    text-indent: 5px;
    width: 280px;
    height: 35px;
    outline: none;
    text-indent: 12px;
}

#buttonprint{
    margin-top: 25px;
    width: 220px;
    height: 40px;
    font-size: 24px;
    font-weight: 600;
}

/*Animações*/

input:focus{
    scale: 103%;
    border-radius: 5px;
    border: transparent;
    font-size: 15px;
    text-indent: 5px;
    outline: none;
    transition: all 0.3s;
    text-indent: 20px;
}

#buttonprint:hover{
    margin-top: 25px;
    width: 220px;
    height: 40px;
    font-size: 24px;
    font-weight: 600;
    scale: 104%;
    transition: all 0.2s;
    cursor: pointer;
    -webkit-box-shadow: 0px 16px 24px -12px rgba(0,0,0,0.39);
    -moz-box-shadow: 0px 16px 24px -12px rgba(0,0,0,0.39);
    box-shadow: 0px 16px 24px -12px rgba(0,0,0,0.39);
}

@media print {

    form{
        display: none;
        visibility: hidden;
       }
       
       #header{
        display: none;
       }

       #title{
        display: none;
       }
       body {
        background: none;
        padding: 0;
        height: 500px;
       }

       #page{
            visibility: visible;
            display: flex;
            position: relative;
            bottom: 620px;
           width: 21cm;
           min-height: 10cm;
           padding: 2cm;
           margin: 1cm auto;
           font-family: Arial, Helvetica, sans-serif;
           font-size: 24px;
           text-align: justify;
           scale: 150%;
       }
       
       #location, #line, #nameassinatura{
           display: flex;
           justify-content: center;
       }
}


/* 
border: 1px #D3D3D3 solid;
border-radius: 5px;
box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); 
*/