*{
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}
body {
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#page{
    visibility: hidden;
    display: none;
}
#header{
    padding-top: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
}

a{
    text-decoration: none;
    color: rgb(255, 230, 230);
    font-weight: 600;
}
a:hover{
    text-decoration-line: underline;
}

#title{
    color: rgb(255, 230, 230);
    display: flex;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 25px;
}

#form {
    background-color: rgba(255, 241, 241, 0.158);
    -webkit-box-shadow: 3px 0px 23px 5px rgba(0, 0, 0, 0.822);
    -moz-box-shadow: 3px 0px 23px 5px rgba(0,0,0,0.21);
    box-shadow: 3px 0px 23px 5px rgba(0,0,0,0.21);
    border-radius: 15px;
    width: 350px;
    height: 700px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#boxlocation{
    display: flex;
    align-items: center;
}

#divcity {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    right: 13px;
}

#ufinput{
      width: 55px;
      height: 25px;
}

#divuf {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 10px;
    
}

#cityinput{
    width: 200px;
    height: 25px;
}

#divboxhr {
    display: flex;
    align-items: center;
}

#divboxhr p {
    text-align: center;
}

#diventradainput{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    right:20px;
}

#enterinput {
    width: 80px;
    height: 25px;
}

#saidainput {
    width: 80px;
    height: 25px;
}

#divsaidainput{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 20px;
}

p{
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 2px;
    text-align: left;   
}

input{
    border-radius: 5px;
    border: transparent;
    font-size: 15px;
    text-indent: 5px;
    width: 280px;
    height: 25px;
    outline: none;
}


#buttonprint{
    margin-top: 20px;
}

#buttonview{
    margin-top: 10px;
}



/*Animações*/

input:focus{
    scale: 102%;
    border-radius: 5px;
    border: transparent;
    font-size: 15px;
    text-indent: 5px;
    outline: none;
    transition: all 0.3s;
}



@media print {

    form{
        display: none;
        visibility: hidden;
       }
       
       #header{
        display: none;
       }

       #title{
        display: none;
       }
       body {
        background: none;
        padding: 0;
        height: 500px;
       }

       #page{
            visibility: visible;
            display: flex;
            position: relative;
            bottom: 620px;
           width: 21cm;
           min-height: 10cm;
           padding: 2cm;
           margin: 1cm auto;
           font-family: Arial, Helvetica, sans-serif;
           font-size: 24px;
           text-align: justify;
           scale: 150%;
       }
       
       #location, #line, #nameassinatura{
           display: flex;
           justify-content: center;
       }
}


/* 
border: 1px #D3D3D3 solid;
border-radius: 5px;
box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); 
*/